.about {
  background-color: #F7FCFE; }
  .about p {
    font-size: 18px;
    line-height: 1.7; }

/* team style */
.team .member {
  transition: 0.3s;
  position: relative;
  height: 400px;
  border: 1px solid #387ABE;
  overflow: hidden; }
  .team .member:hover .info-container {
    top: 40%; }
  @media (min-width: 576px) and (max-width: 768px) {
    .team .member:hover .info-container {
      top: 30%; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .team .member:hover .info-container {
      top: 30%; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .team .member:hover .info-container {
      top: 30%; } }
  .team .member .member-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .team .member .member-image img {
      width: 100%;
      height: 100%; }
  .team .member .info-container {
    position: absolute;
    z-index: 2;
    background-color: #fff;
    top: 150%;
    transform: skewY(-13deg);
    transition: 0.3s;
    height: 100%;
    font-size: 15px; }
    .team .member .info-container .member-info {
      transition: 0.3s;
      transform: skewY(13deg);
      margin-top: 30px;
      padding: 10px; }
      .team .member .info-container .member-info p {
        transition: 0.3s; }
      .team .member .info-container .member-info a {
        color: #000; }
        .team .member .info-container .member-info a:hover {
          text-decoration: none;
          color: #000; }

/* partners style */
#wrapper {
  position: relative;
  width: 100%;
  min-height: 55vw;
  overflow: hidden; }
  @media (max-width: 576px) {
    #wrapper {
      min-height: 500px;
      height: 600px; } }

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
  overflow: hidden; }
  @media (max-width: 576px) {
    .layer {
      min-height: 500px;
      height: 600px; } }
  .layer .content-wrap {
    position: absolute;
    width: 100vw;
    min-height: 55vw; }
    @media (max-width: 576px) {
      .layer .content-wrap {
        min-height: 500px;
        height: 600px; } }
    .layer .content-wrap .content-body {
      width: 25%;
      position: absolute;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);
      color: #fff; }
      @media (max-width: 576px) {
        .layer .content-wrap .content-body {
          width: 90%;
          height: 100%;
          left: 6%;
          font-size: 15px;
          transform: none;
          top: 0; } }
    .layer .content-wrap .image-container {
      position: absolute;
      width: 35%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 576px) {
        .layer .content-wrap .image-container {
          width: 100%;
          height: auto;
          left: 0;
          bottom: 0;
          transform: none; } }
  .layer h3 {
    font-size: 30px; }

.bottom {
  background: #222;
  z-index: 1; }
  .bottom .content-body {
    right: 5%; }
    @media (max-width: 576px) {
      .bottom .content-body {
        right: 0 !important; } }
  .bottom h3 {
    color: #387ABE; }

.top {
  background: #F7FCFE;
  z-index: 2;
  width: 50vw; }
  .top .content-body {
    left: 5%;
    color: #222 !important; }
    @media (max-width: 576px) {
      .top .content-body {
        left: 0; } }

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #387ABE;
  width: 5px;
  top: 0;
  left: 49.5%;
  z-index: 3; }
  @media (max-width: 576px) {
    .handle {
      left: 48%; } }

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top; }

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px); }
  .skewed .top .content-wrap {
    transform: skew(30deg);
    margin-left: 1000px; }

/* override position and transform in 3.3.x */
.partners .carousel .carousel-indicators {
  position: relative; }
  .partners .carousel .carousel-indicators li {
    background-color: #387ABE; }
  .partners .carousel .carousel-indicators .active {
    background-color: #000; }

.contact {
  background: #F7FCFE; }

footer {
  background: #353535;
  color: #fff; }
  footer a {
    font-size: 20px;
    color: #fff; }
    footer a:hover {
      text-decoration: none;
      color: #fff; }

.about h2, .team h2, .partners h2, .contact h2 {
  color: #387ABE;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  font-weight: bold; }
  .about h2::first-letter, .team h2::first-letter, .partners h2::first-letter, .contact h2::first-letter {
    text-decoration: underline;
    text-decoration-color: #FFB700; }
